<% provide(:title, '') %>
<div class="center hero-unit">
  <h1>Welcome to Chezzles</h1>
  <p> Chezzles Homepage </p>

  <%= link_to "Sign Up", '#', class: 'btn btn-large btn-primary' %>
  <p> It's Your Move! </p>
  <%= link_to "Admission Form", '#', class: 'btn btn-large btn-inverse' %>
</div>
