@import 'bootstrap';

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
  background-color: #ffdead;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float: center;
  margin-right: 10px;
  font-size: 1.7em;
  color: #00bfff;
  font-family: Helvetica;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #00ff7f;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 50px;
  border-color: 2px solid #808080;
  color: #999;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  ul {
    float: left;
    list-style: none;
    li {
      padding-top: 5px;
    }
  }
}

.sub-footer {
  margin-top: 25px;
  padding-top: 5px;
  small {
    margin-left: 25px;
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      padding-top: 5px;
    }
  }
}

.footer-head-list-item {
  text-transform: uppercase;
}