<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="row">
        <nav class="span5">
          <ul class="nav pull-left">
            <li> <%= link_to "Home", root_path %></li>
            <li> <%= link_to "Dash", dash_path %></li>
            <li> <%= link_to "Profile", profile_path %></li>
          </ul>
        </nav>

        <nav class="span3">
          <ul class="nav">
            <li> <%= link_to "Chezzles", '#', id: "logo" %> </li>
          </ul>
        </nav>

        <nav class="pull-right">
          <!--ul class="nav pull-right"-->
            <div class="btn-group">
              <button class="btn btn-primary"> Log In </button>
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li> Email </li>
                <li> Password </li>
                <li> Submit </li>
              </ul>
            </div>
        </nav>
      </div>
    </div>
  </div>
</header>
